$columns-gap: 20px;
$home-sidebar-width: 80px;
$home-menu-width: 250px;
$home-header-height: 80px;
$material-icons-font-path: '~material-icons/iconfont/';
$register-width: 400px;
$transition-duration: 0.2s;